* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1.7s ease;
}

:root {
  --all-Color: #8e44ad;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: var(--all-Color);
  justify-content: center;
  padding-bottom: 100px;
}

.container h1 {
  box-shadow: 2px 3px var(--all-Color);
  background: #fff;
  color: var(--all-Color);
  font-size: 6em;
  border-radius: 8px;
  padding: 50px 50px;
}

.colorSwitcherContainer {
  position: fixed;
  top: 25px;
  right: -210px;
  background: #fff;
  padding: 15px;
  width: 210px;
  z-index: 10;
}

.colorSwitcherContainer.active {
  right: 0px;
}

.colorSwitcherContainer h2 {
  font-size: 22px;
  color: var(--all-Color);
  margin-bottom: 12px;
  padding: 7px 0px;
  border-bottom: 2px solid black;
}

.colorSwitcherContainer .switchersBtn {
  position: absolute;
  top: 0;
  left: -75px;
  color: var(--all-Color);
  background: #fff;
  padding: 18.5px 20px;
  cursor: pointer;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.colorSwitcherContainer .switchersBtn i {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(420deg);
  }
}

.colorSwitcherContainer .themeBtnsAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colorSwitcherContainer .themeBtnsAll {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.colorSwitcherContainer .themeBtnsAll .themeBtns {
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 50%;
  margin: 7px;
  cursor: pointer;
  border: 2px solid rgb(3, 108, 78);
}
